<h1>Editer mon gossip</h1>

<%= form_tag gossips_path(@gossip), method: :put do%>

	<%= label_tag "anonymous_author", "Modifier l'auteur" %>
	<%= text_field_tag "anonymous_author" %>
</br>
	<%= label_tag "content", "Modifier le contenu" %>
	<%= text_field_tag "content" %>
</br>
	<%= submit_tag "Editer mon gossip" %>
<% end %>